<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Profile</title>
</head>

<body>
  <h1>Profile</h1>

  <h3 id="nameSSID">

  </h3>

  <a style="background: #2972d8;" href="/">Retour</a>
  <a style="background: #c23030;" href="/logout">logout</a>

  <h2>My account</h2>
  <p>

  </p>

  <script>
    console.log(signedCookies);
    document.getElementById("nameSSID").innerHTML = name;
  </script>

  <form method="POST" action="/profile">
    <input type="text" name="name" value=<%=user.name %> />
    <input type="email" name="email" value=<%=user.email %> />
    <button style="background: #3dac44;" type="submit">change info</button>
  </form>

  <form method="POST" action="/delete-profile">
    <button style="background: #c23030;" type="submit">Supprimer mon compte</button>
  </form>


</body>
<style>
  body {
    text-align: center;
  }

  h1 {
    margin: 2%;
    margin-bottom: 5%;
  }

  h2 {
    margin-top: 5%;
  }

  form {
    margin-bottom: 2%;
  }

  form input {
    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 2%;
  }

  form input:focus {
    outline: none;
  }

  a,
  button {
    border: none;
    border-radius: 10px;
    padding: 1%;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }

  a:hover,
  button:hover {
    cursor: pointer;
    scale: 1.1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
</style>

</html>